@import "./vars";

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    gap: 50px;

    @media screen and (max-width: $desktop_1000) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.about_content {
    display: grid;
    gap: 15px;
}

.about_content_subtitle{
    color: $gris_oscuro;
    font-size: 20px;
}

.about_content_title{
    font-size: 35px;
    color: $gris_oscuro;
}

.about_content_subtitle_bottom{
    color: $principal;
    letter-spacing: 1px;
    line-height: 25px;
}

// SECTION ARTICLES
// Article VISION
.about_content_articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.about_content_articles_vision {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: $gris_oscuro;
    border-radius: 10px;
    padding: 40px;
    transition: all 300ms;
}

.about_content_articles_vision:hover {
    transform: scale(1.02);
    cursor: pointer;
}


.about_content_articles_vision_icon {
    background: $secundario;
    border-radius: 10px;
    width: 50px;
    padding: 5px;

    @media screen and (max-width: $desktop_1000) {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    svg{
        fill: $principal;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.about_content_articles_vision_title {
    color: white;
}

.about_content_articles_vision_subtitle{
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 17px;
}


// ARTICLE MISION
.about_content_articles {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: $desktop_1500) {
        grid-template-columns: 1fr;
    }

    @media screen and (max-width: $desktop_1000) {
        text-align: center;
    }
}

.about_content_articles_mision {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: $secundario;
    border-radius: 10px;
    padding: 40px;
    transition: all 300ms;
}

.about_content_articles_mision:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.about_content_articles_mision_icon {
    background: $gris_oscuro;
    border-radius: 10px;
    width: 50px;
    padding: 5px;

    @media screen and (max-width: $desktop_1000) {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    svg{
        fill: white;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.about_content_articles_mision_title {
    color: $gris_oscuro;
}

.about_content_articles_mision_subtitle{
    color: $gris_oscuro;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 17px;
}


// ABAOUT IMAGE
.about_image {
    display: grid;
    justify-content: center;
    align-items: center;

    img{
        max-height: 600px;
        max-width: 500px;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        border-bottom: 5px solid $gris_oscuro;
        box-shadow: 1px 1px 20px $principal;
        transition: all 300ms;
    }

    img:hover {
        transform: scale(1.02);
        cursor: pointer;
    }
}


// SECTION ICON
.about_icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
    gap: 20px;
    
    @media screen and (max-width: $tablet_850) {
        grid-template-columns: 1fr;
    }
}


.about_icon_article{
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 1px 1px 10px $secundario;
    padding: 50px;
    display: grid;
    gap: 10px;
    transition: all 300ms;
}

.about_icon_article:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.about_icon_article_img {

    svg{
        width: 60px;
        fill: $gris_oscuro;
    }
}

.about_icon_article_number {
    color: $gris_oscuro;
    font-size: 40px;
    font-weight: 600;
}

.about_icon_article_subtitle {
    color: $principal;
}

.show{
    background: $secundario;
}