.bg_about {
    background: linear-gradient(to bottom, #ffffffe9, #ffffffe9 ), url('/public/img/textile-header-fondo.webp');
    background-repeat: no-repeat;
    background-size: cover
}

.about {
    display: flex;
    gap: 20px;
    margin: 50px 0 70px 0;

    @media screen and (max-width: $desktop_1400) {
        display: grid;
        gap: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
}

.about_content {
    display: grid;
    gap: 15px;
}

.about_title {
    color: $color_principal;
    font-size: 50px;

    @media screen and (max-width: $mobile_500) {
        font-size: 30px;
    }
}


.about_subtitle {
    line-height: 24px;
    color: $color_subtitle;
}


// Section BOX
.about_content_box {
    display: flex;
    gap: 50px;

    @media screen and (max-width: $desktop_1400) {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    @media screen and (max-width: $tablet_870) {
        display: grid;
    }
}

// Section box left
.about_content_box_left {
    background-color: $color_principal;
    padding: 30px 25px;
    border-radius: 10px;
    display: grid;
    justify-content: start;
    align-items: center;
    color: $color_white;
    gap: 17px;
    transition: 1s ease;
    box-shadow: $box_shadow;

    &:hover {
        transform: scale(1.09);
    }
}

.about_content_box_left_image {
    background: $color_secundario;
    width: 45px;
    padding: 7px;
    border-radius: 10px;

    svg {
        width: 30px;
        fill: $color_principal;
        display: flex;
        margin: auto;
    }

}

.about_content_box_left_subtitle {
    line-height: 24px;
}

// Section box rigth
.about_content_box_rigth {
    background-color: $color_secundario;
    padding: 30px 25px;
    border-radius: 10px;
    display: grid;
    justify-content: start;
    align-items: center;
    color: $color_principal;
    gap: 17px;
    transition: 1s ease;
    box-shadow: $box_shadow;

    &:hover {
        transform: scale(1.09);
    }
}

.about_content_box_rigth_image {
    background: $color_principal;
    width: 45px;
    padding: 7px;
    border-radius: 10px;

    svg {
        width: 30px;
        fill: $color_secundario;
        display: flex;
        margin: auto;
    }
}

.about_content_box_rigth_subtitle {
    line-height: 24px;
}







// Section about-us image
.about_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        max-height: 500px;
        max-width: 500px;
        object-fit: cover;
        box-shadow: $box_shadow;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
}

.about_image_etiqueta {
    background: $color_principal;
    color: $color_white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: $box_shadow;
    position: absolute;
    right: 30px;
    bottom: -20px;
}

.about_image_etiqueta_icon {

    svg {
        fill: $color_white;
        width: 30px;
    }

}

.about_image_etiqueta_number {
    font-size: 40px;
}



// About bottom
.about_bottom {
    display: grid;
    // gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 70px;
    // padding: 25px;
    border-radius: 10px;
    // box-shadow: $box_shadow;
    box-shadow: $box_shadow;

    @media screen and (max-width: $tablet_950) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $mobile_600) {
        grid-template-columns: 1fr;
    }
}

.about_bottom_box {
    border: 1px solid #f2f2f2;
    // border-radius: 10px;
    padding: 30px;
}

.about_bottom_box_icon {

    svg {
        fill: $color_principal;
        width: 60px;
    }
}

.about_bottom_box_number {
    font-size: 40px;
    color: $color_principal;
}

.about_bottom_box_text {
    color: $color_principal;
}

.bg_box {
    background: #d7d7d7;
    border-radius: 10px;
    transform: scale(1.1);
}