@import "./vars";

// SECTION LOGIN
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 70px 0;
}

.login_title{
    color: $gris_oscuro;
    font-size: 25px;
}

.login_form, .pdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    label{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: $gris_oscuro;
    gap: 10px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid $principal;
    padding-left: 12px;
}

input[type="password"] {
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid $principal;
    padding-left: 12px;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid $principal;
    background: $gris_oscuro;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: $secundario;
    color: $gris_oscuro;
    border: 1px solid $secundario;
    cursor: pointer;
}

input[type="file"] {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid $secundario;
    font-size: 18px;
}
}

// SUBIR EL PDF
.pdf {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 70px 0;
    gap: 20px;
}

.pdf_title {
    display: grid;
    gap: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $gris_oscuro;
}

.exito {
    padding: 10px;
    color: white;
    text-align: center;
    background: green;
    max-width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    letter-spacing: 1px;
    // font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.alerta {
    padding: 10px;
    color: white;
    text-align: center;
    background: orange;
    max-width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    letter-spacing: 1px;
    // font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.error {
    padding: 10px;
    color: white;
    text-align: center;
    background: red;
    max-width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    letter-spacing: 1px;
    // font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
}