@import "./vars";

.bg_nav {
    background: $principal;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    img {
        object-fit: contain;
        max-width: 170px;
        width: 100%;
    }
}

.nav_enlaces {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
    }

    a:hover {
        color: $secundario;
    }

    @media screen and (max-width: 1050px) {
        display: none;
        position: fixed;
        width: 50%;
        height: 100%;
        z-index: 99;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $principal-claro;
        font-size: 20px;
        gap: 30px;

        box-shadow: 1px 1px 10px rgba(115, 115, 115, 0.26);

        a {
            text-transform: uppercase;
            color: white;
        }

        a:hover {
            color: $principal;
        }
    }

    &.activeMenu {
        display: flex;
    }
}

.closeMenu {
    display: none;

    @media screen and (max-width: 1050px) {
        position: absolute;
        top: 0;
        right: 0;
        color: $principal;
        font-weight: bold;
        font-size: 21px;
        background: white;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: $principal;
            color: white;
        }
    }
}

// Menu de hamburguesa
.toggle {
    display: none;

    svg {
        fill: white;
        border: none;
        line-height: 30px;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
            fill: $secundario;
        }
    }

    @media screen and (max-width: 1050px) {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

.nav_btn {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: $secundario;

    a{
        font-weight: 300;
    }
}

.nav_btn:hover {
    background: $principal-claro;

    a{
        color: white;
    }
}