@import "./vars";

.icon_header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    gap: 10px;

    @media screen and (max-width: $desktop_1000) {
        grid-template-columns: 1fr;
    }
}

.icon_header_article {
    display: grid;
    gap: 20px;
    padding: 10px;
}

.icon_header_image {
    
    svg{
        background: $gris_oscuro;
        padding: 10px;
        fill: white;
        border-radius: 7px;
        width: 70px;
    }
}

.icon_header_title{
    color: $gris_oscuro;
}

.icon_header_subtitle{
    color: $gris_oscuro;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 300;
}