@import "./vars";

.bg_services{
    // background: linear-gradient(to bottom,  $secundario, $principal)
    background: linear-gradient(to bottom, rgba(220, 211, 228, 0.94), rgba(107, 99, 114, 0.94)), url('/public/img/bg_services.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cut_services{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent transparent #fff; 
}

.cut_services_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent; 
}

.services_content {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media screen and (max-width: $desktop_1200) {
        grid-template-columns: 1fr;
    }
}


.services_content_text{
    display: grid;
    gap: 10px;
}

.services_content_text_subtitle{
    color: $gris_oscuro;
    font-size: 25px;
}

.services_content_text_title{
    color: white;
    font-size: 35px;
}

.services_content_text_subtitle_bottom{
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
}

.services_content_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    a{
        text-decoration: none;
        color: white;
        background: $gris_oscuro;
        padding: 20px;
        border-radius: 10px;
    }
    
    a:hover{
        animation: movimiento 1s linear infinite;
        background: $secundario;
        color: $gris_oscuro;
        padding: 25px;
    }
}


// SECTION SERVICES ARTICLES

.services_article {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;

    @media screen and (max-width: $desktop_1200) {
        grid-template-columns: 1fr;
    }
}

.services_article_product{
    display: grid;
    gap: 20px;
    border: 1px solid $secundario;
    border-radius: 10px;
    padding: 50px;
    transition: all 300ms;
}

.services_article_product:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.show_services{
    background: $gris_oscuro;
    border: 1px solid $gris_oscuro;
}

.services_article_product_img {
    
    img{
        border-radius: 10px;
        width: 70px;
        height: 70px;
    }
}

.services_article_product_title {
    color: white;
    font-size: 19px;
}

.services_article_product_subtitle{
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
}

.services_article_product_btn{
    display: flex;
    gap: 0;
    // justify-content: center;
    align-items: center;
    transition: all 300ms;
    width: 130px;
    
    a{
        text-decoration: none;
        color: white;
    }

    svg{
        width: 30px;
        fill: white;
    }
}

.services_article_product_btn:hover {
    transform: scale(1.05);
    cursor: pointer;
    animation: movimiento 1s linear infinite;
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(10%);
    }
    
    100% {
        transform: translateY(0);
    }
}