// Medidas de pantalla
// DESKTOP
$desktop_1580: 1580px;
$desktop_1525: 1525px;
$desktop_1500: 1500px;
$desktop_1400: 1400px;
$desktop_1360: 1360px;
$desktop_1185: 1185px;
$desktop_1170: 1170px;
$desktop_1150: 1150px;
$desktop_1000: 1000px;

// TABLET
$tablet_950: 950px;
$tablet_870: 870px;
$tablet_800: 800px;
$tablet_700: 700px;

// MOBILE
$mobile_600: 600px;
$mobile_500: 500px;
$mobile_420: 420px;

// Paleta de colores
$fondo_nav: #ccc4d4;
$color_principal: #4d4555;
$color_secundario: #dcd4e4;
$color_white: #fff;
$color_subtitle: grey;
$box_testimony: #dcd4e456;

$box_shadow: 3px 3px 5px #c1c1c1;
$color_border: #c1c1c1;
$color_star: #efb810;