// MEDIDAS DE ESCRITORIO
$desktop_1500: 1500px;
$desktop_1400: 1400px;
$desktop_1300: 1300px;
$desktop_1200: 1200px;
$desktop_1100: 1100px;
$desktop_1000: 1000px;


// MEDIDAS DE TABLET
$tablet_900: 900px;
$tablet_850: 850px;
$tablet_800: 800px;
$tablet_700: 700px;

// MEDIDAS DE MOBILE
$mobile_500: 500px;
$mobile_400: 400px;


// PALETA DE COLORES
$principal: #6B6372;
$secundario: #DCD3E4;
$gris_oscuro: #4c4454;